:root {
  /* ==== font sizing ==== */
  --fs-100: 0.5rem;
  --fs-200: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 3rem;

  /* ==== font weight ==== */
  --fw-light: 400;
  --fw-bold: 700;

  /* ==== spacing ==== */
  --spacing-50: 0.2rem;
  --spacing-100: 0.5rem;
  --spacing-200: 0.75rem;
  --spacing-300: 0.875rem;
  --spacing-400: 1rem;
  --spacing-500: 1.125rem;
  --spacing-600: 1.5rem;
  --spacing-700: 2rem;
  --spacing-800: 2.5rem;
  --spacing-900: 3rem;

  /* ==== background color ==== */
  --bg-main: hsl(222, 26%, 31%);
  --bg-main-toggle: hsl(222, 31%, 20%);
  --bg-screen: hsl(224, 36%, 15%);
  --primary-font-clr: hsl(0, 100%, 100%);
  --secondary-font-clr: hsl(221, 14%, 31%);

  --bg-primary-key-main: hsl(0, 0%, 90%);
  --bg-primary-key-shadow: hsl(28, 16%, 65%);

  --bg-secondary-key-main: hsl(225, 21%, 49%);
  --bg-secondary-key-shadow: hsl(224, 28%, 35%);

  --bg-tertiary-key-main: hsl(6, 63%, 50%);
  --bg-tertiary-key-shadow: hsl(6, 70%, 34%);

  --bg-key-main-toggle: hsl(222, 31%, 20%);
  --bg-screen: hsl(224, 36%, 15%);

  --clr-neutral: hsl(0, 0%, 100%);

  /* ==== font family ==== */
  --ff: "League Spartan", sans-serif;
  --ff-head: var(--ff);
  --ff-body: var(--ff);

  /* ==== border radius ==== */
  --br: 0.5rem;
}

[data-theme="1"] {
  --bg-main: hsl(222, 26%, 31%);
  --bg-main-toggle: hsl(222, 31%, 20%);
  --bg-screen: hsl(224, 36%, 15%);
  --display-font-clr: hsl(0, 100%, 100%);

  --primary-font-clr: hsl(221, 14%, 31%);
  --secondary-font-clr: hsl(0, 100%, 100%);
  --tertiary-font-clr: hsl(0, 100%, 100%);

  --bg-primary-key-main: hsl(0, 0%, 90%);
  --bg-primary-key-hover: hsla(0, 100%, 100%);
  --bg-primary-key-shadow: hsl(28, 16%, 65%);

  --bg-secondary-key-main: hsl(225, 21%, 49%);
  --bg-secondary-key-hover: hsla(225, 11%, 57%, 0.8);
  --bg-secondary-key-shadow: hsl(224, 28%, 35%);

  --bg-tertiary-key-main: hsl(6, 63%, 50%);
  --bg-tertiary-key-hover: hsla(6, 71%, 60%, 0.8);
  --bg-tertiary-key-shadow: hsl(6, 70%, 34%);

  --bg-key-main-toggle: hsl(222, 31%, 20%);
  --bg-screen: hsl(224, 36%, 15%);
}

[data-theme="2"] {
  --bg-main: hsl(0, 0%, 90%);
  --bg-main-toggle: hsl(0, 5%, 81%);
  --bg-screen: hsl(0, 0%, 93%);
  --display-font-clr: hsl(60, 10%, 19%);

  --primary-font-clr: hsl(60, 10%, 19%);
  --secondary-font-clr: hsl(0, 100%, 100%);
  --tertiary-font-clr: hsl(0, 100%, 100%);

  --bg-primary-key-main: hsl(0, 0%, 90%);
  --bg-primary-key-hover: hsla(0, 0%, 100%, 0.8);
  --bg-primary-key-shadow: hsl(35, 11%, 61%);

  --bg-secondary-key-main: hsl(185, 42%, 37%);
  --bg-secondary-key-hover: hsla(185, 42%, 37%, 0.8);
  --bg-secondary-key-shadow: hsl(185, 58%, 25%);

  --bg-tertiary-key-main: hsl(25, 98%, 40%);
  --bg-tertiary-key-hover: hsla(25, 98%, 40%, 0.8);
  --bg-tertiary-key-shadow: hsl(25, 99%, 27%);

  --bg-key-main-toggle: hsl(0, 5%, 81%);
}

[data-theme="3"] {
  --bg-main: hsl(268, 75%, 9%);
  --bg-main-toggle: hsl(268, 71%, 12%);
  --bg-screen: hsl(268, 71%, 12%);
  --display-font-clr: hsl(52, 100%, 62%);

  --primary-font-clr: hsl(52, 100%, 62%);
  --secondary-font-clr: hsl(0, 100%, 100%);
  --tertiary-font-clr: hsl(198, 20%, 13%);

  --bg-primary-key-main: hsl(268, 47%, 21%);
  --bg-primary-key-hover: hsla(268, 33%, 45%, 0.8);
  --bg-primary-key-shadow: hsl(290, 70%, 36%);

  --bg-secondary-key-main: hsl(281, 89%, 26%);
  --bg-secondary-key-hover: hsla(281, 75%, 47%, 0.8);
  --bg-secondary-key-shadow: hsl(285, 91%, 52%);

  --bg-tertiary-key-main: hsl(176, 100%, 44%);
  --bg-tertiary-key-hover: hsla(176, 100%, 50%, 0.8);
  --bg-tertiary-key-shadow: hsl(177, 92%, 70%);

  --bg-key-main-toggle: hsl(268, 71%, 12%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background-color ease-in 200ms;
}

html {
  font-family: var(--ff);
  font-variant-numeric: tabular-nums;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

.theme span {
  color: var(--display-font-clr);
  text-transform: uppercase;
  font-size: var(--fs-100);
}

.theme menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-50);
  background-color: var(--bg-main-toggle);
  width: 55px;
  height: 20px;
  border-radius: calc(var(--br) + var(--spacing-50));
}

.theme menu button {
  border: solid 1px transparent;
  aspect-ratio: 1/1;
  width: 27%;
  height: 100%;
  border-radius: var(--br);
  position: relative;
  background-color: transparent;
  }
  
  .theme-1 {
    --bg-tertiary-key-main: hsl(6, 63%, 50%);
    --bg-tertiary-key-hover: hsla(6, 71%, 60%, 0.8);

      &.active {
        background-color: var(--bg-tertiary-key-main);
      }
  
      &:hover, &:focus{
        cursor: pointer;
        background-color: var(--bg-tertiary-key-hover);
      }
  }
  .theme-2 {
    --bg-tertiary-key-main: hsl(25, 98%, 40%);
    --bg-tertiary-key-hover: hsla(25, 98%, 40%, 0.8);

      &.active {
        background-color: var(--bg-tertiary-key-main);
      }
  
      &:hover, &:focus{
        cursor: pointer;
        background-color: var(--bg-tertiary-key-hover);
      }
  }
  .theme-3 {
    --bg-tertiary-key-main: hsl(176, 100%, 44%);
    --bg-tertiary-key-hover: hsla(176, 100%, 50%, 0.8);

      &.active {
        background-color: var(--bg-tertiary-key-main);
      }
  
      &:hover, &:focus{
        cursor: pointer;
        background-color: var(--bg-tertiary-key-hover);
      }
  }

.theme menu button span {
  position: absolute;
  top: 0;
  transform: translateX(-3px) translateY(-15px);
}

body {
  display: grid;
  background-color: var(--bg-main);
  place-items: center;
  overflow-x: hidden;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin-inline: auto;
  width: min(100% - 2rem, 450px);
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 400px;
  width: 100%;
  padding: var(--spacing-400);
  gap: var(--spacing-400);
  
}

.logo {
  color: var(--display-font-clr);
  font-size: var(--fs-700);
}
.screen {
  display: flex;
  background-color: var(--bg-screen);
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
  padding: var(--spacing-300);
  align-items: center;
  justify-content: right;
  font-family: var(--ff);
  color: var(--display-font-clr);
  height: 100px;
  width: 100%;
  border-radius: var(--br);
}
.keypad {
  background-color: var(--bg-main-toggle);
  height: 400px;
  width: 100%;
  border-radius: var(--br);
  padding: var(--spacing-200);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: var(--spacing-400);
}
.key {
  border: none;
  border-radius: var(--br);
  font-size: var(--fs-700);
  font-family: var(--ff);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  color: var(--primary-font-clr);
  background-color: var(--bg-primary-key-main);
  box-shadow: 0px 4px 0px var(--bg-primary-key-shadow);
  transition: all 0.1s ease-in-out;
  cursor: pointer;

  &:hover, &:focus {
    background-color: var(--bg-primary-key-hover);
  }
}
.key.secondary-font {
  background-color: var(--bg-secondary-key-main);
  box-shadow: 0px 4px 0px var(--bg-secondary-key-shadow);
  color: var(--secondary-font-clr);

  &:hover, &:focus {
    background-color: var(--bg-secondary-key-hover);
  }
}
.key.tertiary-font {
  background-color: var(--bg-tertiary-key-main);
  box-shadow: 0px 4px 0px var(--bg-tertiary-key-shadow);
  color: var(--tertiary-font-clr);

  &:hover, &:focus {
    background-color: var(--bg-tertiary-key-hover);
  }
}
.span-2 {
  grid-column: span 2;
}


/* Mobile View  */
@media (max-width: 600px) {
  :root {
    --fs-700: 1.1rem;
    --fs-800: 1.5rem;
  }

  body {
    margin-top: var(--spacing-600);
    margin-inline: 0;
    width: 100%;
  }
  .container {
    flex-direction: column;
    margin-top: var(--spacing-600);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}